* {box-sizing: border-box}
 body {

  font-family: var(--font-family);
}


#wishlist-box {
    height: 11rem;
    width: 100%;
    border-radius: 0px;
    background-color: #665858;
    position: relative;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wishlist-text {
    font-style: normal;
    font-weight: 700;
    font-size: 2.496rem;
    line-height: 2.333rem;
    /* text-align: center; */
    letter-spacing: 0.02em;
    color: #ffffff;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }

  .card_info-header {
    padding: 10px;
    width: 95%;
    height: 29px;
    margin: 0 auto;
    background-color: #B3B3B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
  }

  .header-right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 52%;
  }

  .card_info-body {
    border-radius: 0 0 5px 5px;
    padding: 20px;
    min-height: 130px;
    width: 95%;
    margin: 0 auto;
    background-color: #E1E1E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.5px;  
    gap: 15px;
  }

  .info-body_right-side {
    width: 52%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .image_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 48%;
    gap: 20px;
  }

  .image-info_book_title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

  }

  .card_info-body-quantity {
    /* min-width: 10%;
    max-width: 20%; */
    width: 30%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .add-quantity,
  .remove-quantity {
    /* flex: 1 0 20px; */
    /* max-width: 20px;
    max-height: 20px; */
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E22727;  
    border: none;
    color: white;
  }

  .card_info-body-quantity > input{
    /* flex: 1 2 50px; */
    /* min-width: 30px; */
    height: 20px;
    width: 50%;
    min-width: 45%;
  }

 .product-amount {
  display: flex;
  align-items: center;
 }
 

 .remove-product {
  border: none;
  background-color: transparent;
 }

 .remove-product:hover {
  cursor: pointer;
 }

  .image-info_img {
    height: 80px;
    width: 55px;
  }


  .payment {
    width: 95%;
    margin: 5px auto 5px auto;
    padding: 20px;
    min-height: 130px;
    background-color: #E1E1E1;
    display: flex;
    align-items: center;
    justify-content:  center;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    flex-wrap: wrap;

  }

  .payment-left {
    width: 50%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
  .payment-right {
    width: 50%;
  }

  .pay-btn {
    /* display: block;
    margin: 0 auto; */
    background-color: #E22727;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    /* margin-top: 10px; */
  }

  .pay-btn > a {
    color: white;
  }

  .footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #635252;
    padding: 0px 25px 15px 25px;
    font-family: var(-font-family);
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 25px;
    }
    
    .footerHead{
    display: flex;
    justify-content: space-around;
    }
    .footerBody{
      display: flex;
      flex-direction: column;  
    }
     .footerIcon{
      color:  #BABABA; 
      margin-right: 10px;
    } 


    @media(max-width:800px) {
      /* .image_title {
        width: 40%;
      } */
      .image-info_book_title {
        font-size: 12px;
        letter-spacing: 0.5px;
        /* white-space: hidden; */
      }
      .card_info-body-quantity > input {
        padding: 0;
      }
    }

    @media(min-width: 600px) {
      .card_info-header ,
      .card_info-body
       {
        width: 100%;
      }
      .payment {
        width: 50%;
        margin-left: auto;
      }
    }
    header {
      background: #fff;
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    header nav ul {
      display: flex;
      list-style-type: none;
    }
    
    header nav ul li a {
      display: inline-block; 
      color: #000;
      padding: 5px 0;
      margin: 0 10px;
      border: 3px solid transparent;
      text-transform: uppercase;
      transition: 0.2s;
      text-decoration: none
    }
    
    header nav ul li a:hover,
    header nav ul li a.active {
      border-bottom-color: dodgerblue;
    }
    
    
    
    .hamburger {
      display: none;
    }
    
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
    
    @media (max-width: 700px) {
      .nav-menu {
        position: absolute;
        left: -100%;
        top: 5rem;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 9000;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
      }
      .nav-menu.active {
        left: 0;
        top: 72px;
      }
    
      .nav-item {
        margin: 1rem 0;
      }
    
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    
      .hamburger {
        display: block;
        cursor: pointer;
      }
    
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
      }
    
      #menu-toggle:checked ~ .menu li {
        border: 1px solid #9f9a9a;
        height: 2.5em;
      }
    
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
        color: black;
        background-color: white;
      }
    }
    .LogoIconsNav {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    
    .logo {
      margin-right: 15px;
    }
    
    .icons {
      display: flex;
    }
    
    .icons a {
      margin-right: 10px;
      color: #000;
      text-decoration: none;
      font-size: 24px;
    }
    
    .InOutBtn {
      display: flex;
      justify-content: space-between;
    }
    
    .InOutBtn a {
      margin: 0 8px;
    }
    
    .nav-logo-icons {
      display: flex;
      justify-content: space-between;
    }
    
    .btnstyle {
      position: relative;
      font-size: 15px;
      padding: 10px 10px;
      background-color: #7092c5;
      text-decoration: none;
      border: none;
      border-radius: 10px;
      color: black;
      box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
    
    .btnstyle::before {
      position: absolute;
      content: "";
      height: 0;
      width: 0;
      top: 0;
      left: 0;
      background: linear-gradient(
        135deg,
        rgb(250, 248, 248) 0%,
        rgb(255, 255, 255) 50%,
        #7092c5 50%,
        #7092c5 55%
      );
      border-radius: 0 0 0.5em 0;
      box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
      transition: 0.3s;
    }
    
    .btnstyle:hover::before {
      width: 1.4em;
      height: 1.4em;
    }