 * {
    box-sizing: border-box;
    font-family: var(--font-family);
    
    }
  
 
    #discountBox{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 10rem;
      font-style: normal;
      font-weight: 700;
      font-size: 2.496rem;
      line-height: 2.333rem;
      letter-spacing: 0.02em;
    }
    
    #discountBox::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(../images/book1.jpg);
      background-size: cover;
      opacity: 0.4;
    }
    
    #discountBox p {
      color: black;
      opacity: 0.9;
    }


 



/* front image desktop version */
@media screen and (min-width: 1034px) {
    #mainPic{
      width: 100%;

    }

  }
 
  #book-element{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    


  } 

  .discountImg{
    width: 60%;
   
  }
  
  

 
.bookTitleForDiscount,.bookAuthorForDiscount,.normalPricesForBooks, .discountPricesForBooks{
    font-weight: lighter;
    line-height: 32px;
    font-style: normal;
    letter-spacing: 0.02em;
  }
  .bookAuthorForDiscount{
    font-size: 15px;
    text-align: center;
    opacity: 0.7;
  }
  .bookTitleForDiscount{
    font-size: 20px;
  }

  .book-price {
    display: flex;
    justify-content: center;
 
  }
  
  .normalPricesForBooks,
  .discountPricesForBooks {
 
   flex:1;
   text-align: center;
   font-style: italic;
   font-size: 32px;
   margin-right: 10px;
   
 }
.discountPricesForBooks{
  font-weight: bold;
}
.normalPricesForBooks{
  opacity: 0.7;
  text-decoration: line-through;
}

.sale{
position: relative;
top: 2.5rem;
right: auto;
left: 50%;
margin: -0.5em -0.5em 0 0;
transform: translateX(-50%);
width: 7.5rem;
max-height: fit-content;
border-radius: 4px;
color: #ffffff;
background: #00afd8;
font-weight: 700;
line-height:20 px;
text-transform: uppercase;
font-size: 1.857em;
z-index: 9;
cursor: pointer;


}
.checked {
  color: gold;
 
}

   #otherProducts-container {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: flex-start;
  margin-top: 5rem;
  width: 100%;
  margin-bottom: 20px;
 background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}

.otherProducts {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.otherProducts > div {
  margin-right: 1rem;
}

.otherProducts > div:nth-child(1) {
flex-basis: 15%;
 
}

.otherProducts > div:nth-child(2) {
  flex-grow: 1;
}

.bookTitle,
.bookPrice,
.stars-rating {
  align-items: center;
  margin-top: 0.3 rem;
}
#otherProductsTitle{
  font-weight: bold;
} 



  .wrapper{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
  }
  

  @media (min-width: 1030px) {
    
  
  #book-element {
 
    display: flex;
    flex-direction: row;
     flex-wrap: wrap; 
     justify-content:space-between;
    align-items:center;
    width: 100%;
  }
  .wrapper{
    width: 24%;
    background-color: #f5f5f5;
    padding: 2%;
    border-radius: 2.76%;
    margin-bottom: 2%;
 }

 .bookTitleForDiscount,.bookAuthorForDiscount{
  text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

.discountImg {
   display: block;
   margin: 0 auto;
   height: 200px;
 }
 

.normalPricesForBooks,
 .discountPricesForBooks  {
   text-align: center;
   font-style: italic;
   font-size: 22px;
 }
 .sale{
  width: 50%;
} 
#otherProducts-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}

.otherProductsImage{

 width: auto; 
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
}
}
.otherProducts > div {
  margin-right: 1rem;
}

.otherProducts > div:nth-child(1) {
flex-basis: 15%;
 
}

.otherProducts > div:nth-child(2) {
  flex-grow: 1;
}


#otherProductsTitle{
  font-weight: bold;
} 

.bookTitle,
.bookPrice,
.stars-rating {
  align-items: center;
 margin-top: 0.2rem;
}

.bookTitleForOtherProducts {
  font-size: 13px;
  color: #000;
  margin-top: 0.3rem;
  
}

.PricesForBooks {
  font-size: 12px;
 
  margin-top: 0.3rem;
  
}

#stars-rating1,
#stars-rating2,
#stars-rating3,
#stars-rating4 {
display: flex;
align-items: center;
font-size: 12px;
margin-bottom: 0.3rem;

}
.stars-rating span {
  font-size: 12px;
  margin-right: 2px;

}
  



  header {
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header nav ul {
    display: flex;
    list-style-type: none;
  }
  
  header nav ul li a {
    display: inline-block; 
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none
  }
  
  header nav ul li a:hover,
  header nav ul li a.active {
    border-bottom-color: dodgerblue;
  }
  
  
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  
  @media (max-width: 700px) {
    .nav-menu {
      position: absolute;
      left: -100%;
      top: 5rem;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 9000;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
      left: 0;
      top: 72px;
    }
  
    .nav-item {
      margin: 1rem 0;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
  
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #9f9a9a;
      height: 2.5em;
    }
  
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      color: black;
      background-color: white;
    }
  }
  .LogoIconsNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logo {
    margin-right: 15px;
  }
  
  .icons {
    display: flex;
  }
  
  .icons a {
    margin-right: 10px;
    color: #000;
    text-decoration: none;
    font-size: 24px;
  }
  
  .InOutBtn {
    display: flex;
    justify-content: space-between;
  }
  
  .InOutBtn a {
    margin: 0 8px;
  }
  
  .nav-logo-icons {
    display: flex;
    justify-content: space-between;
  }
  
  .btnstyle {
    position: relative;
    font-size: 15px;
    padding: 10px 10px;
    background-color: #7092c5;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: black;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  }
  
  .btnstyle::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(
      135deg,
      rgb(250, 248, 248) 0%,
      rgb(255, 255, 255) 50%,
      #7092c5 50%,
      #7092c5 55%
    );
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  
  .btnstyle:hover::before {
    width: 1.4em;
    height: 1.4em;
  }